<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OnlineCourseFacilitator</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CreateSession</display-name>
    <servlet-name>CreateSession</servlet-name>
    <servlet-class>com.oodp.sms.servlet.CreateSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateSession</servlet-name>
    <url-pattern>/CreateSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InvalidateSession</display-name>
    <servlet-name>InvalidateSession</servlet-name>
    <servlet-class>com.oodp.sms.servlet.InvalidateSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvalidateSession</servlet-name>
    <url-pattern>/InvalidateSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAvailableCourses</display-name>
    <servlet-name>ViewAvailableCourses</servlet-name>
    <servlet-class>com.oodp.sms.servlet.ViewAvailableCourses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAvailableCourses</servlet-name>
    <url-pattern>/ViewAvailableCourses</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterCourse</display-name>
    <servlet-name>RegisterCourse</servlet-name>
    <servlet-class>com.oodp.sms.servlet.RegisterCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterCourse</servlet-name>
    <url-pattern>/RegisterCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewSchedule</display-name>
    <servlet-name>ViewSchedule</servlet-name>
    <servlet-class>com.oodp.sms.servlet.ViewSchedule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewSchedule</servlet-name>
    <url-pattern>/ViewSchedule</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewStudents</display-name>
    <servlet-name>ViewStudents</servlet-name>
    <servlet-class>com.oodp.sms.servlet.ViewStudents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewStudents</servlet-name>
    <url-pattern>/ViewStudents</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNotice</display-name>
    <servlet-name>AddNotice</servlet-name>
    <servlet-class>com.oodp.sms.servlet.AddNotice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNotice</servlet-name>
    <url-pattern>/AddNotice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewNotice</display-name>
    <servlet-name>ViewNotice</servlet-name>
    <servlet-class>com.oodp.sms.servlet.ViewNotice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewNotice</servlet-name>
    <url-pattern>/ViewNotice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddGrade</display-name>
    <servlet-name>AddGrade</servlet-name>
    <servlet-class>com.oodp.sms.servlet.AddGrade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGrade</servlet-name>
    <url-pattern>/AddGrade</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewGrades</display-name>
    <servlet-name>ViewGrades</servlet-name>
    <servlet-class>com.oodp.sms.servlet.ViewGrades</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewGrades</servlet-name>
    <url-pattern>/ViewGrades</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Course</display-name>
    <servlet-name>Course</servlet-name>
    <servlet-class>com.oodp.sms.servlet.Course</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Course</servlet-name>
    <url-pattern>/Course</url-pattern>
  </servlet-mapping>
</web-app>